
$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
);

// Centered container element
@mixin make-container($gutter: $grid-gutter-width)
{
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
}

@mixin make-col($gutter: $grid-gutter-width) {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: ($gutter / 2);
    padding-left: ($gutter / 2);
  }

  @mixin make-col-span($columns)
  {
    width: percentage(($columns / $grid-columns));
  }
  @mixin make-col-offset($columns)
  {
    margin-left: percentage(($columns / $grid-columns));
  }
  @mixin make-col-push($columns)
  {
    left: percentage(($columns / $grid-columns));
  }
  @mixin make-col-pull($columns)
  {
    right: percentage(($columns / $grid-columns));
  }

$font-family-header: 'Playfair Display', serif;
$font-family-content: 'Source Code Pro', monospace;


body {
  background: url("http://res.cloudinary.com/recklessmoxie/image/upload/q_100/v1470446769/blue_ivvwzq.png");
}

.container {
  @include make-container();
}

.row {
  @include make-row();
}

.content-main {
  @include make-col();

  @media (max-width: 32em) {
    @include make-col-span(12);
  }

  @media (min-width: 32.1em) {
    @include make-col-span(12);
  }
}

.nav-tabs .nav-link {
  display: inline-block;
  border: 0;
  padding: 0;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: 600px;
  border: none;
  background-color: #9575CD;
  -webkit-box-shadow: -12px 8px 14px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 8px 14px -6px rgba(0,0,0,0.75);
  box-shadow: -12px 8px 14px -6px rgba(0,0,0,0.75);
}

.nav-tabs {
    border-bottom: 0;
    margin: 5px auto;
  }

.card-header {
    background-color: #673AB7;
    padding: 1px;
}

  .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
      color: #55595c;
      cursor: default;
      background-color: inherit;
      border-color: transparent;
      border: 0;
  }

span.round-tabs {
    display: inline-block;
    border-radius: 50px;
    background: white;
    left: 0;
    text-align: center;
    font-size: 35px;
}

span.round-tabs.one {
  color: #3498db;
  border: 4px solid #3498db;
}

li.active span.round-tabs.one {
  background: #fff !important;
  border: 4px solid #ddd;
}

span.round-tabs.two {
    color: rgb(38, 185, 153);
    border: 4px solid rgb(38, 185, 153);
}

li.active span.round-tabs.two {
    background: #fff !important;
    border: 4px solid #ddd;
}

span.round-tabs.three{
    color: #ffa54c;
    border: 4px solid #ffa54c;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 4px solid #ddd;
  }

span.round-tabs.four{
    color: #f05921;
    border: 4px solid #f05921;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 4px solid #ddd;
}

.nav-tabs > li {
    flex: 1;
}

.nav-tabs {
    display: flex;
}

.nav-tabs > li a img:hover{
    background: transparent;
}

.card-block {
margin-top: 50px;
}

.holder {
  max-width: 250px;
  background-color: #EDE7F6;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-title {
  font-family: $font-family-header;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.card-text {
  margin-top: 20px;
  font-family: $font-family-content;
  color: rgba(0, 0, 0, 0.54);
}
