
$font-family-header: 'Playfair Display', serif;
$font-family-content: 'Source Code Pro', monospace;


body {
  background: url("http://res.cloudinary.com/recklessmoxie/image/upload/q_100/v1470446769/blue_ivvwzq.png");
}

#main.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border: none;
  background-color: #9575CD;
  -webkit-box-shadow: -12px 8px 14px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 8px 14px -6px rgba(0,0,0,0.75);
  box-shadow: -12px 8px 14px -6px rgba(0,0,0,0.75);
}

.nav-tabs .nav-item {
  float: none;
  border-bottom: 0;
  margin-bottom: .5em;
  }

li.nav-item {
  margin-top: .5em;
  margin-left: 8em;
  margin-right: 8em;
}

.card-header {
    background-color: #673AB7;
}

  .nav-tabs .nav-link, .nav-tabs, .nav-tabs, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
      color: #55595c;
      cursor: default;
      background-color: inherit;
      border-color: transparent;
      border: 0;
  }

span.round-tabs {
    display: inline-block;
    border-radius: 50px;
    background: white;
}

span.round-tabs.one {
  color: #3498db;
  border: 4px solid #3498db;
}

span.round-tabs.two {
    color: rgb(38, 185, 153);
    border: 4px solid rgb(38, 185, 153);
}

span.round-tabs.three{
    color: #ffa54c;
    border: 4px solid #ffa54c;
}

span.round-tabs.four{
    color: #f05921;
    border: 4px solid #f05921;
}

span.round-tabs:hover {
  color: #fff !important;
  border: 4px solid #ddd;
}

.nav-tabs > li a img:hover{
    background: transparent;
}

.card-wrapper {
margin-top: 0em;
margin-bottom: 4em;
padding: 5px;
}

#status {
  margin-left: 5em;
  margin-top: 4em;
  width: 60em;
  background-color: #EDE7F6;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#all-users {
  display: inline-block;
  margin: 2em;
  background-color: #EDE7F6;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow:auto;
}

.close {
  font-size: 2.5rem;
  color: black;
}

.tab-content {
  width: 100%;
  height: 400px;
  margin-top: 0;
}

.card-title {
  font-family: $font-family-header;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.card-text {
  margin-top: 20px;
  font-family: $font-family-content;
  color: rgba(0, 0, 0, 0.54);
}
